*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
}

body{
    background: url('../assets/meetback-removebg-preview.png') no-repeat,linear-gradient(to bottom, rgba(104, 220, 207, 0.791) , rgba(255, 193, 92, 0.824)) !important;
    background-position: center !important;
    height: 100vh;
}

input{
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 500px) {
    body{
        background-position: bottom !important;
    }
  }
