#head{
    text-align: center;
    color:  rgba(77, 75, 75, 0.824);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 1px 1px 4px #000000;
    border: 0px;
    border-radius: 20px;
    box-shadow: 3px 5px 4px 2px #00000059;
    
}

#main{
    border: 2px solid #000 ;
    width: 95%;
    height: auto;
    margin: auto;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.777) ,rgba(82, 82, 82, 0.777) );
    border-radius: 50px;
    box-shadow: 2px 2px 10px 1px rgb(89, 78, 31);
    border: 0px;
    padding: 5px;
    margin-top: 90px;
}

#about{
    color: #bdb78e;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    white-space: pre-wrap;
    font-size: smaller;
    text-shadow: 1px 1px 2px #000000;
}

#buttondiv{
    display: flex;
    justify-content: space-evenly;
}

.mainButton{
    padding: 0;
    width: 100px;
    height: 30px;
    border: 0px;
    outline: 0px;
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(104, 220, 207, 0.791) , rgba(255, 193, 92, 0.824));
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin: 1px;
    margin-top: 5px;
    text-shadow: 1px 1px 2px #0000007e;
}

@media only screen and (min-width: 600px) {
    #main{
      width: 500px;
      height: 300px;
    }
  }


